<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span>{{ algorithm.name }}</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span>Time Complexity</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <span>Best</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span>{{ algorithm.timeComplexity.best }}</span>
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>
                                <span>Average</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span>{{ algorithm.timeComplexity.average }}</span>
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>
                                <span>Worst</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span>{{ algorithm.timeComplexity.worst }}</span>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span>Space Complexity</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <span>{{ algorithm.spaceComplexity }}</span>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span>{{ algorithm.stability }}</span>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span>{{ algorithm.placement }}</span>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-card-content>
    </mat-card>
</section>
